.contact {
}

.contact_container {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 0;
        padding: 0;
    }
}

.contact_media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.contact_media-grid {
    display: flex;
    flex-direction: row;
    width: 100%;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //gap: 1rem;
        //margin: 0;
        //padding: 0;
    }
}

.contact_list-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--secondary-da-c) !important;

    a {
        //text-decoration: none;
        color: unset;
    }
}

.contact_info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact_obfuscated {
    color: var(--shadow-da-c);
}

.contact_cv {
    display: flex;
    flex-direction: column;
}