.section-title-text {
    font-weight: 350;
    font-size: 3.5rem;
    color: var(--text-strong);
    transition: color 450ms;

    @media screen and (max-width: 480px) {
        font-size: var(--fs-3xl);
    }
}