.skillcard {
    display: flex;
    align-items: center;
    width: 15rem;
    padding: 0.20rem;
    border: 1px solid #dddddd;
    border-radius: 8px;
    //margin-bottom: 10px;
    position: relative;
}

.skillcard_logo {
    object-fit: contain;
    width: 48px;
    height: 48px;
    margin: 0 14px 0;
}

.skillcard_content {
    //flex: 1;
}

.skillcard_title {
}

.skillcard_description {
}

.skillcard_progress {
    width: 9rem;
    margin: 5px 0;
}

.skillcard_chip {
    position: absolute !important;
    top: 10px;
    right: 10px;
}