.opening-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    overflow: hidden;
}

.top-half,
.bottom-half {
    position: absolute;
    width: 100%;
    height: 50%;
}

.hello-text {
    display: flex;
    position: absolute;
    z-index: 910;
    font-size: 6rem;
    color: white;
    align-content: center;
    opacity: 1;
}

.top-half {
    top: 0;
    background-color: black;
}

.bottom-half {
    bottom: 0;
    background-color: black;
}

@media screen and (max-width: 768px) {
    .top-half,
    .bottom-half {
        height: 100%;
        width: 50%;
    }

    .top-half {
        left: 0;
    }

    .bottom-half {
        right: 0;
    }
}