.opening-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    overflow: hidden;
}


.top-half,
.bottom-half {
    position: absolute;
    width: 100%;
    height: 50%;
    animation: slideAway 1175ms forwards ease;
    animation-delay: 1000ms;

    -moz-box-shadow: 0 0 16px 0 var(--border-da-c);
    -webkit-box-shadow: 0 0 16px 0 var(--border-da-c);
    box-shadow: 0 0 16px 0 var(--border-da-c);
}

.hello-text {
    display: flex;
    position: absolute;
    z-index: 910;
    font-size: 6rem;
    color: white;
    align-content: center;
    opacity: 1;
}

.top-half {
    top: 0;
    //background-color: var(--primary-c);
    background-color: black;
}

.bottom-half {
    bottom: 0;
    //background-color: var(--secondary-c);
    background-color: black;
}

@keyframes slideAway {
    to {
        height: 0;
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {
    .top-half,
    .bottom-half {
        height: 100%;
        width: 50%;
        animation: none;
    }

    .top-half {
        left: 0;
        animation: slideLeft 1150ms forwards ease;
        animation-delay: 150ms;
    }

    .bottom-half {
        right: 0;
        animation: slideRight 1150ms forwards ease;
        animation-delay: 150ms;
    }

    @keyframes slideLeft {
        to {
            width: 0;
            visibility: hidden;
        }
    }

    @keyframes slideRight {
        to {
            width: 0;
            visibility: hidden;
        }
    }
}