.opening-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 900;
    overflow: hidden;
}

.top-half,
.bottom-half {
    opacity: 0.5;
    position: absolute;
    height: 50%;
    width: 100%;

    @media screen and (max-width: 768px) {
        height: 100%;
        width: 50%;
    }
}

.hello-text {
    display: flex;
    position: absolute;
    z-index: 910;
    font-size: 6rem;
    color: black;
    align-content: center;
    opacity: 1;
}

.top-half {
    top: 0;
    background-color: white;

    @media screen and (max-width: 768px) {
        left: 0;
    }
}

.bottom-half {
    bottom: 0;
    background-color: white;

    @media screen and (max-width: 768px) {
        right: 0;
    }
}
