.navbar {
    width: 100%;
    height: 68px;
    padding: 0.50rem 0.25rem;
    z-index: 500;
    top: 0;

    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 0 var(--shadow-da-c);
}

.navbar_icon {
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


    img {
        height: 52px;
        width: auto;
        border-radius: 5px;
        transition: all 0.6s;
    }

    &.navbar_icon-shrunk {
        img {
            height: 46px;
        }
    }
}

.navbar_menu-button {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
        margin-right: 7%;
        cursor: pointer;
    }
}

.navbar_links, .navbar_links-mobile {
    display: flex;
    flex: auto;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    margin-left: 5%;

    // Each element of the list
    li {
        margin-right: 6%;
        display: flex;
        justify-content: center;
        position: relative;
        cursor: pointer;

        a {
            text-decoration: none;
        }
    }
}

.navbar_links {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.navbar_links-mobile {
    display: none;
    margin: 0;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0;
        padding: 0;

        li {
            margin: 0.30rem 0;
        }
    }
}

.navbar_links-external {
    justify-content: flex-end;

    @media screen and (max-width: 768px) {
        justify-content: center;
    }
}

.navbar_theme-button {
    padding: 6px 8px;
    border-radius: 5px;
    gap: 12px;

    display: flex;
    align-items: center;
    font-family: inherit;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.30s;

    &:hover {
        background-color: var(--primary-da-c);
    }

    @media screen and (max-width: 768px) {
        padding: 5px 6px;
        gap: 5px;
    }
}

.navbar_theme-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--primary-c);
    border: 2px solid var(--secondary-c);

    @media screen and (max-width: 768px) {
        width: 24px;
        height: 24px;
    }
}