:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: var(--background-c);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.p-text {
    font-size: 1.10rem;
    line-height: 1.5;
    font-weight: 400;
}

.text-underline {
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        top: 90%; /* distance from the bottom */
        left: 0;
        background: var(--alt-c);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.30s;
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}