:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: var(--background-c);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scroll-behavior: smooth;

    // TODO: Review -light and -dark variants
    // Colors (prefer pastel colors)
    --primary-c: rgba(184, 226, 242, 1); // #B8E2F2FF
    --primary-light-c: rgba(203, 234, 246, 1); // 88% HSL
    --primary-lighter-c: rgba(212, 237, 247, 1); // 90% HSL
    --primary-dark-c: rgba(182, 225, 242, 1);

    --secondary-c: rgba(215, 174, 226, 1); // #D8C0F0FF
    --secondary-light-c: rgba(218, 180, 228, 1);
    --secondary-dark-c: rgba(210, 165, 223, 1);

    --accent-c: rgba(76, 192, 134, 1); // #4CC086FF
    --accent-light-c: rgba(76, 192, 134, 1);
    --accent-dark-c: rgba(76, 192, 134, 1);

    --background-c: rgba(251, 250, 249, 1); // #FBFAF9FF
    --background-light-c: rgba(251, 250, 249, 1);
    --background-dark-c: rgba(251, 250, 249, 1);

    --text-c: rgba(8, 8, 8, 1); // #080808FF
    --text-light-c: rgba(9, 9, 9, 1);
    --text-dark-c: rgba(7, 7, 7, 1);

    --border-c: rgba(150, 150, 150, 0.3); // #969696FF
    --border-light-c: rgba(150, 150, 150, 0.2);
    --border-dark-c: rgba(150, 150, 150, 0.4);

    --glow-c: rgba(238, 248, 252, 0.40);

    --success-c: rgba(76, 192, 134, 1); // #4CC086FF
    --warning-c: rgb(255, 234, 97, 1); // #FFEA61FF
    --danger-c: rgb(255, 105, 97, 1); // #FF6961FF
    --info-c: rgb(76, 157, 250, 1); // #4C9DFAFF

    --hero-bg-c: rgba(208, 235, 246, 1);
}

[data-theme="dark"] {
    --primary-c: rgba(16, 64, 128, 1);
    --primary-light-c: rgba(17, 69, 136, 1);
    --primary-dark-c: rgba(15, 60, 118, 1);

    --secondary-c: rgba(215, 174, 226, 1);
    --secondary-light-c: rgba(219, 184, 229, 1);
    --secondary-dark-c: rgba(208, 161, 221, 1);

    --accent-c: rgba(76, 192, 134, 1);
    --accent-light-c: rgba(76, 192, 134, 1);
    --accent-dark-c: rgba(76, 192, 134, 1);

    --background-c: rgba(4, 8, 16, 1);
    --background-light-c: rgba(4, 8, 16, 0.5);
    --background-dark-c: rgba(4, 8, 16, 0.8);

    --text-c: rgba(251, 250, 249, 1);
    --text-light-c: rgba(252, 251, 250, 1);
    --text-dark-c: rgba(250, 249, 248, 1);

    --border-c: rgba(150, 150, 150, 1);
    --border-light-c: rgba(150, 150, 150, 0.5);
    --border-dark-c: rgba(150, 150, 150, 0.8);

    --success-c: rgba(76, 192, 134, 1);
    --warning-c: rgb(255, 234, 97, 1);
    --danger-c: rgb(255, 105, 97, 1);
    --info-c: rgb(76, 157, 250, 1);

    --hero-bg-c: rgba(184, 226, 242, 1);
}

body {
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.p-text {
    font-size: 1.10rem;
    line-height: 1.5;
    font-weight: 400;

    color: var(--text-light-c);
}

.text {
    font-size: 1.15rem;
    line-height: 1.5;
    margin: 0;

    color: var(--text-c);
}

.text-underline {
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        top: 90%; /* distance from the bottom */
        left: 0;
        background: var(--secondary-c);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.30s;
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.text-block {
    overflow: hidden;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blink_anim {
    animation: blink 1s infinite;
}